<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sfa.dao.TDicCodeMapper">
  <resultMap id="BaseResultMap" type="com.sfa.model.TDicCode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="t_dic_id" jdbcType="VARCHAR" property="tDicId" />
    <result column="t_dic_code" jdbcType="VARCHAR" property="tDicCode" />
    <result column="t_name" jdbcType="VARCHAR" property="tName" />
    <result column="t_type" jdbcType="VARCHAR" property="tType" />
  </resultMap>
</mapper>