<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sfa.dao.TSysUserMapper">
  <resultMap id="BaseResultMap" type="com.sfa.model.TSysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="t_user_id" jdbcType="VARCHAR" property="tUserId" />
    <result column="t_user_name" jdbcType="VARCHAR" property="tUserName" />
    <result column="t_user_pwd" jdbcType="VARCHAR" property="tUserPwd" />
    <result column="t_role" jdbcType="VARCHAR" property="tRole" />
    <result column="t_status" jdbcType="VARCHAR" property="tStatus" />
  </resultMap>
    <resultMap id="UserInfoMap" type="com.sfa.model.UserInfo">
    <id column="t_preson_id" jdbcType="VARCHAR" property="id" />
    <result column="t_user_name" jdbcType="VARCHAR" property="tUserName" />
    <result column="t_user_pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="t_gender" jdbcType="VARCHAR" property="tGender" />
    <result column="t_mobile" jdbcType="VARCHAR" property="tMobile" />
    <result column="t_email" jdbcType="VARCHAR" property="tEmail" />
    <result column="t_cname" jdbcType="VARCHAR" property="tCname" />
  </resultMap>
  
  
  <select id="selectSysUserByNameAndPwd" parameterType="com.sfa.model.TSysUser"
            resultMap="BaseResultMap">
        SELECT
       		t_user_id,t_user_name,t_user_pwd,t_role,t_status
        FROM
        	t_sys_user
        WHERE 1=1
        AND t_user_name = #{tUserName}
        AND t_user_pwd = #{tUserPwd}
    </select>
    <select id="selectUserInfoById" parameterType="String"
            resultMap="UserInfoMap">
	select t_preson_id,t_user_name,t_gender,t_mobile,t_email,t_cname
    from t_sys_user left join t_person ON t_sys_user.t_user_id=t_person.t_user_id
    where t_preson_id=#{id}
    </select>
</mapper>